<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="content">
	<p>New Path</p>
	Hello Word

	<p th:text=" ' hello ' + ${ name }"></p>

	<ul>
		<li th:each="name : ${list}">
			<p th:text="${name}"></p>
		</li>
		<li th:each="name : ${list}">
			<p th:text="${name1}"></p>
		</li>
		<li th:each="name : ${list}">
			<p th:text="${name2}"></p>
		</li>
		<li th:each="name : ${list}">
			<p th:text="${name3}"></p>
		</li>
	</ul>
</th:block>
</html>